
.HomePage {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 35px; 
    height: 100vh; 
    width: 100vw;  
    position: relative; 
}

.HomePage h1 {
    justify-content: center; 
    font-size: 40px;
    font-weight: lighter;
    color: #000;
    display: flex;
    align-items: baseline;
    font-size: 3.5rem;

}

.HomePage .flow {
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #000;
}

.HomePage .draw {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #00AEEF;
}

.HomePage .dot {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #00AEEF;
}

.HomePage p{
    font-size: 1.2rem;
    color: #000;
    padding-bottom: 15px;
}

.HomePage button {  
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #13B2EC;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.HomePage button.Login {
    background-color: #FFFFFF; 
    color: #13B2EC;
    border: 1px solid #13B2EC; 
}

.HomePage button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.HomePage .RegisterLoginButtons {
    display: flex;
    justify-content: flex-end; 
    right: 60px; 
    position: absolute;
    gap: 30px;
    width: 382px;
    height: 95px;
}

.HomePage .RegisterLoginButtons button {
    width: 150px;
    height: 40px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.HomePage .WelcomeMessage {
    margin-top: 180px;
}

.HomePage button.AppButton{
    width: 180px;
    height: 50px;
}

.NewSection {
    background-color: #FFFFFF;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 120px;
}

.NewSection .LeftContent {
    padding-left: 120px;
    padding-right: 250px;
}

.NewSection .LeftContent h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.NewSection .RightContent p{
    font-size: 1.5rem;
    line-height: 1.6;
    width: 600px;
    color: #000000;
    padding-right: 100px; 
    text-align: left;
    margin-left: auto;
}

.NewSection .RightContent .flow,
.NewSection .RightContent .draw,
.NewSection .RightContent .dot {
    font-size: 2rem;
    display: inline;
    text-align: left;
    margin: 0; 
    padding: 0; 
}

.NewSection .RightContent .RightContentImage {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    padding-left: 90px;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
    border-radius: 10px; 
    transition: transform 0.3s ease-in-out; 
    animation: float 4s ease-in-out infinite; 
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.NewSection .FeaturesList {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.NewSection .FeatureItem {
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.NewSection .FeatureText {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}

.WavingHand {
    padding-left: 250px;
    padding-top: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 5rem;
    cursor: default;
}

.WelcomeMessage {
    margin-top: 100px;
    text-align: center;
}

.WelcomeMessage h1 {
    font-size: 3rem;
    color: #000;
}

.WelcomeMessage p {
    font-size: 1.2rem;
    color: #000;
    margin-top: 10px;
}

.WelcomeMessage .AppButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #13B2EC;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.WelcomeMessage .AppButton:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



